<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.konan.multiplatform">
    <application
                 android:name=".MyApplication"
                 android:allowBackup="true"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

    <activity
        android:name=".MainActivity"
        android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    </application>

</manifest>
